/*--------------------------------------
--------------------------------------
        Animations
--------------------------------------
--------------------------------------*/
/* Fade-in animation */
/* Console vertical reveal */
@keyframes consoleReveal {
  from {
    clip-path: inset(0 100% 0 0);
    /* fully hidden from bottom */
  }

  to {
    clip-path: inset(0 0 0 0);
    /* fully visible */
  }
}

/* starting hidden state */
.console-reveal {
  clip-path: inset(0 100% 0 0);
  animation: consoleReveal 2s ease-out forwards;
}


/* Delay modifiers */
.reveal-delay-1 {
  animation-delay: 2s;
}

.reveal-delay-2 {
  animation-delay: 4.2s;
}

.reveal-delay-3 {
  animation-delay: 6.4s;
}

.reveal-delay-4 {
  animation-delay: 8.6s;
}

/*---------------------------------------------------------*/
/* Typing animation */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

.typing span {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  border-right: 2px solid #00ff9c;
  /* start cursor visible */
  animation: typing 2s steps(20, end) forwards;
}
.skipan-but{
  margin-bottom:20px;
}

/*---------------------------------------------------------*/

/*blinking animation for a cursor*/
@keyframes blinkCursor {

  0%,
  100% {
    border-color: transparent;
  }

  50% {
    border-color: #00ff9c;
  }
}


/*----------------------------------------------------------*/
#skipAnimation {
  background-color: #000;
  /* black background */
  color: #00ff9c;
  /* green text/icon */
  border: 1px solid #00ff9c;
  padding: 8px 16px;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  /* align icon + text */
  align-items: center;
  gap: 8px;
  /* spacing between icon and text */
}

#skipAnimation:hover {
  background-color: #00ff9c;
  color: #000;
}



/*--------------------------------------
--------------------------------------
        General STYLE START
--------------------------------------
--------------------------------------*/
* {
  /* Basic Reset */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}




html {
  scroll-behavior: smooth;
}

/* Page Defaults */
body {
  font-family: 'EB Garamond', serif;
  font-size: 24px;
  line-height: 1.2;
  padding: 20px;
}

body.sofia {
  font-family: 'Sofia', sans-serif;
  font-size: 24px;
  line-height: 1.2;
  padding: 20px;
}

/* Basic spacing */
h1,
h2,
h3 {
  margin-bottom: 10px;
}

h3.blueh {
  color: #20ad9a
}


p {
  padding: 4px;
  margin-bottom: 10px;
}

/* Links */
a {
  color: blue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.link-text {
  color: inherit;
  /* looks like surrounding text */
  text-decoration: none;
  /* remove underline */
  transition: color 0.3s, text-decoration 0.3s;
  /* smooth hover */
}

.link-text:hover {
  color: #6503e6;
  /* change color on hover */
  text-decoration: underline;
  /* optional underline */
  cursor: pointer;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

.ribbon {
  height: 12px;
  background-color: #1E261F;
}

.thumb {
  display: block;
  overflow: hidden;
  border: 1px solid #00ff9c;
}

.thumb img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
  transition: transform 0.3s ease;

}

.thumb:hover img {
  transform: scale(1.05);
}

.fanttext {
  font-family: "Copperplate Gothic", "Copperplate", fantasy;
}

/*--------------------------------------
--------------------------------------
        index page stylesheet
-------------------------------------
-------------------------------------*/
.container.index {
  /*background-color: #005f73 , background: #0d1117;*/

  color: #00ff9c;
  background: radial-gradient(circle, #182c26b9 0%, #000000 100%);
  border-radius: 20px;
  /* rounded corners */
  padding: 20px;
  box-shadow: 0 0 15px rgba(55, 230, 84, 0.568),
    /* subtle glow */
    inset 0 0 10px rgba(255, 255, 255, 0.05);
  /* inner highlight */
}


body.index {

  background-image: url("./content/Matrix wallpaper gif.gif");
  background-size: 100% auto;
  /* stretch width only */
  background-repeat: repeat;
  background-size: auto;
  /* <a href='https://www.pinterest.com/pin/1196337402506232/'>free background photos from pinterist.com/</a> */

}

col.cent{
  text-align: center;
}




/*--------------------------------------
-------------------------------------
       Bardo Experiment Page
--------------------------------------
-------------------------------------*/
.container.bardo {
  /*background-color: #005f73 , background: #0d1117;*/

  color: #00ff6a;
  background: radial-gradient(circle, #3379e2b9 0%, #000000 100%);
  border-radius: 20px;
  /* rounded corners */
  padding: 20px;
  box-shadow: 0 0 20px rgba(231, 1, 1, 0.568),
    /* subtle glow */
    inset 0 0 10px rgba(255, 255, 255, 0.05);
  /* inner highlight */
}

body.bardo {
  background-color: #0e0d0d;
}

.bardoback {

  background-image: url("./content/Main_Screen.jpg");
  background-size: 100% auto;
  background-position-x: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;;
  position: relative;
  /* BardoExperiment Main Menu image created by Storm aka LZ Studios*/

}

iframe.sc {
  position: relative;
  padding-bottom: 56%;
  height: 0;
}

.sndcld {
  color: #cccccc;
  text-decoration: none;
}

.divcld {
  font-size: 10px;
  color: #cccccc;
  line-break: anywhere;
  word-break: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
}

.instapurp{
  color: #7e63b1;
}
.instapurp:hover{
  color: #e29024;
  cursor: pointer;
}


/*--------------------------------------------
-------------------------------------------
       AI Website insporation Generator
-------------------------------------------
-------------------------------------------*/


html.inspogenerator {
  background-color: rgba(150, 47, 47, 0.934);
}

.container.parchment {
   color: #d8d8d8;
  background: radial-gradient(circle,rgba(170, 147, 107, 0.9), rgba(44, 38, 28, 0.9));
  border: 1px solid #e6c36b;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
  /* rounded corners */
  padding: 20px;
  box-shadow: 0 10px 35px rgba(206, 88, 10, 0.568),
    /* subtle glow */
    inset 0 0 10px rgba(255, 255, 255, 0.05);
  /* inner highlight */
}

body.inspogenerator {
  background: #ebd5a8;
  background-image: url("./content/agedparchment.png");
  background-size: 100% auto;
  /* stretch width only */
  background-repeat: repeat;
  background-size: auto;
  /* <a href='https://pngtree.com/freebackground/aged-parchment-paper-with-darkened-edges-and-intersecting-lines-creating-vintage-antique-historical-texture_19137841.html'>free background photos from pngtree.com/</a> */

}
summary{
    font-weight: bold;
  font-style: italic;
}

/*--------------------------------------
-------------------------------------
       CONSOLE EFFECT
--------------------------------------
-------------------------------------*/
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.project {
  position: relative;
  border: 1px solid #00ff9c;
  overflow: hidden;
  background: #010409;
  cursor: pointer;

}

.project img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 0.3s ease;
}

.console {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  transition: opacity 0.3s ease;
  padding: 5px;
  font-size: 0.85rem;
  white-space: pre-line;
}

.project:hover img {
  opacity: 0.2;
}

.project:hover .console {
  opacity: 1;
}

.log-ok {
  color: #00ff9c;
}

.log-warn {
  color: #ffaa00;
}

.log-error {
  color: #ff4d4d;
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

.console span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid #00ff9c;
  width: 0;
}

.project:hover .console span {
  animation: typing 1.5s steps(40, end) forwards, blinkCursor 0.4s step-end infinite;
  ;
}